@font-face {
    font-family: 'B Nazanin', cursive;
    src: url('../fonts/B-Nazanin.ttf');
}

html {
    background: url(../background/color.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
h1{
   text-align:center;
    font-family: 'B Nazanin', cursive;
}
.form {
    font-family: 'B Nazanin', cursive;

}
.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: right;
    font-size: 16px;
    font-family: 'B Nazanin', cursive;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    float: right;
    overflow: hidden;
    font-family: 'B Nazanin', cursive;
}

.subnav .subnavbtn {
    font-size: 16px;
    font-family: 'B Nazanin', cursive;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: red;
    font-family: 'B Nazanin', cursive;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
    font-family: 'B Nazanin', cursive;
}

.subnav-content a {
    float:right;
    color: white;
    text-decoration: none;
    font-family: 'B Nazanin', cursive;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}
.customerType {
    width:300px;
    height:300px;
    background-color:#d9d9d9;
    position:fixed;
    margin-left:-150px; /* half of width */
    margin-top:-150px;  /* half of height */
    top:50%;
    left:50%;
}